.timer {
    position: relative;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(202, 220, 209);
    width: 330px;
    height: 280px;
    border-radius: 5px;
    padding: 15px 10px;
    margin: 10px;
    box-shadow: 0px 10px 15px rgb(230, 221, 221);
    overflow: visible;
}

.timer-input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-input-placeholder {
    position: absolute;
    top: 33%;
    font-size: 40px;
    font-family: 'Geo', sans-serif;
    font-weight: 400;
    color: black;
    pointer-events: none;
    background-color: white;
    z-index: 1;
}

.timer-buttons {
    display: flex;
    justify-content: space-around;
    width: 240px;
}

.timer-counter {
    font-family: 'Geo', sans-serif;
    color: rgb(245, 247, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 61, 75);
    font-size: 60px;
    padding: 10px;
    width: 220px;
    height: 70px;
    border-radius: 5px;
}

.timer-buttons-and-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    width: 100%;
}

.timer-button {
    background-color: rgb(225, 188, 202);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.timer-button:hover {
    color: white;
    transform: scale(1.05);
}

.length-input-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: rgb(31, 30, 34);
}

.length-input-wrapper {
    display: flex;
    justify-content: space-around;
    width: 130px;
    
}

.length-input {
    font-size: 40px;
    font-family: 'Geo', sans-serif;
    text-align: center;
    border-radius: 5px;
    width: 69px;
    height: 50px;
    border: none;
    margin: 3px;
    padding: 3px;
    outline: none;
}

#remove-timer-button {
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    color: rgb(235, 252, 233);
    left: 320px;
    top: 10px;
    transition: all .2s ease-in-out;
}

#remove-timer-button:hover {
    color:  #ff767c;
    transform: scale(1.05);
}

.timer-name-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-name-label {
    position: absolute;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    cursor: auto;
}

.timer-name {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    color: rgba(2, 33, 48, 0.769);
    margin: 0;
    padding: 0;
    outline: none;
}

.invalid-timer-input {
    display: none;
    position: absolute;
    background: #ff767c;
    color: white;
    font-size: 16px;
    z-index: 1;
    top: 63px;
    width: 250px;
    padding: 15px 10px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0px 5px 20px rgb(85, 76, 76);
}

/* Pomodoro Styling */
.timer.pom {
    position: relative;
    height: 300px;
    width: 380px;
    background-color: rgb(201, 60, 60);
}

.timer.pom .timer-name-label {
    color: white;
}

.timer.pom .timer-counter {
    background-color: rgb(85, 6, 6);
}

.timer.pom .timer-button {
    background-color: rgb(109, 49, 65);
    color: pink;
}

.timer.pom .timer-button:hover {
    color: white;
}

.timer.pom.break {
    background-color: rgba(60, 138, 198, 0.783);
}

.timer.pom.break .timer-counter {
    background-color: rgb(5, 5, 67);
}

.timer.pom.break .timer-button {
    background-color: rgb(55, 67, 150);
    color: white;
}

.timer.pom h3 {
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: rgb(125, 34, 49);
}

.pom-input-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 130px;
}

.pom-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 115px;
}

.break-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 115px;
}

.timer.pom .break-inputs h2 {
    text-align: center;
}

.timer.pom .invalid-timer-input {
    top: 65px;
}
