#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    background-color: rgb(157, 218, 205);
    margin-bottom: 50px;
}

#nav-left {
    width: 50px;
}

#navbar h1 {
    color: rgba(56, 30, 108, 0.755);
}