#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

#nav-left {
    width: 90px;
}

#nav-middle {
    cursor: pointer;
}

#nav-right {
    margin: 20px;
}

#navbar h1 {
    color: rgba(61, 181, 255, 0.749);
}

.button {
    color: grey;
    cursor: pointer;
}

.button:hover {
    color: black;
}