.was-validated .form-control:valid~.invalid-feedback {
    display: none;
}

.form-control:valid~.invalid-feedback {
    display: none;
}

.form-control:invalid~.invalid-feedback {
    height: 15px;
    font-size: 12px;
    color: rgb(77, 72, 72);

}

.form-control {
    height: 20px;
}

#login-form label {
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-pass {
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.submit-button {
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 15px;
    background-color: rgba(61, 181, 255, 0.749);
    margin-top: 10px;
  }