#footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(157, 218, 205);
    height: 50px;
    width: 100%;
    color: rgba(56, 30, 108, 0.755);
}