@import url('https://fonts.googleapis.com/css?family=Michroma');

body {
  font-family: 'Michroma', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 1000px;
}

.timers-container {
  display: flex;
  justify-content: space-around;
  min-width: 1000px;
}