@import url('https://fonts.googleapis.com/css?family=Michroma');
@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Geo');
@import url('https://fonts.googleapis.com/css?family=Rubik');

html, body {
  width: 100%;
  height: 100%;
  margin: auto;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: rgb(89, 93, 94);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 50px;
  margin: 0;
  color: rgba(61, 181, 255, 0.749);
}

h2 {
  margin: 0;
}

button {
  font-family: 'Rubik', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 15px;
  background-color: rgba(61, 181, 255, 0.749);
}

input {
  border-radius: 5px;
  border: 1px solid rgb(170, 175, 176);
  padding: 5px 10px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: black;
}

.button {
  color: grey;
  cursor: pointer;
}

.button:hover {
  color: black;
}